.params-header {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #4a4a4a;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}