/* ticket layout */

.ticket {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(91, 137, 164, 0.25);
    display: flex;
}

.ticket + .ticket {
    margin-top: 20px;
}

.ticket-left {
    border-right: 1px solid #ECEFF1;
    padding: 20px;
}

.ticket-right {
    padding: 19px 25px 20px;
    flex: 1;
}

/* ticket times */

.ticket-times {
    display: flex;
    justify-content: space-between;
}

.ticket-time {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 1.2px;
}

.ticket-stops {
    color: #8B9497;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 5px 25px;
    flex: 1;
    text-align: center;
}

.ticket-stops span {
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #D2D5D6;
    margin-top: 6px;
}

/* ticket origins */
.ticket-origins,
.ticket-dates {
    display: flex;
    justify-content: space-between;
    color: #4A4A4A;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.4px;
    font-weight: 500;
}

/* dates */
.ticket-dates {
    color: #8B9497;
}

